<!-- View Container -->

<ng-template #templateRef>

</ng-template>



<button (click)="create()">Create Component</button>
<button (click)="destroy()">Delete Component</button>


<hr>

<p>-----------------------------------------------------------------------</p>
 
<div tooltip="I am Fine" class="dynamic">
        How are you
</div> 




<p>-----------------------------------------------------------------------</p>
<!-- AdvancedDom Manipulation -->

<!-- Create ViewContainer it is dom node which is angular specific -->

<hr>

<button (click)="add()">Add</button>
<button (click)="remove()">Remove</button>


<ng-container #view>

</ng-container>


<ng-template #template>
        <app-demo></app-demo>
</ng-template>

<hr>